body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.review-container {
    width: 367px;
    background-color: #ffffff;
    padding: 25px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}

.input-box {
    height : 100%;
    width: 100%;
    /* padding: 0px 15px; */

    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 16px;
    top: 0;

}

.submit-btn {
    display: block;
    height: 35px;
    padding: auto;
    border: 2px solid black;
    margin-top: 15px;
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.review {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #dcdcdc;
}

.review img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.review p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

/* .showmore {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #dcdcdc;
    display: none;
}

.showmore img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.showmore p {
    margin: 0;
    font-size: 14px;
    color: #333;
} */
.boxsubmit{
  height : 150px;
  width : 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
input-box::placeholder{
  position: absolute;
  top:0;
  left:0;
}
textarea{
  padding-left: 10px;
  padding-top: 7px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}
.para{
  display: flex;
  width: 100%;
}
.view{
   border: none;   
}
.more-btn{
  height: 30px;
  width: 90%;
  margin-left: 10px;
  border: none;
  border: 2px solid black;
  border-radius: 15px;
  background-color: chocolate;
}
.less-btn{
  height: 30px;
  width: 90%;
  margin-left: 10px;
  border: none;
  border: 2px solid black;
  border-radius: 15px;
  background-color: chocolate;
  visibility: hidden;
}
.comment{
   max-height: 800px;
   height: 250px;
   overflow-y: auto;
}
.showmore{
    display: none;
}